/* CSS Document */
*{outline:0 none;font:normal 13px "trebuchet MS", Arial, Helvetica, sans-serif;color:#333;}
body{background-color:#d3d3d3; background-repeat:repeat; background-attachment:fixed; box-shadow: 10px 10px 5px #888888;}
html {border: 0 none;margin: 0;padding: 0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {border: 0 none;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0px;padding: 0px;outline:0 none;}
strong{font-weight:bold;}
.clr{clear:both;}
.fl{float:left;}
.fr{float:right;}
.al{text-align:left;}
.ar{text-align:right;}
.bor-bot{border-bottom:1px solid #ccc;}
.mr10{margin-right:10px;}
.ml10{margin-left:10px;}
.mr20{margin-right:20px;}
.pr10{padding-right:10px;}
.pl10{padding-left:10px;}
.pr20{padding-right:20px;}
.space{width:100% ;height:10px;}
.space-vert{height:10px;width:100%;float:left;}
.space-vert1{height:100%;width:10px;float:left;border:1px solid #fff;}
 h1{font:normal 18px "trebuchet MS";}
h2{font:bold 13px "trebuchet MS";}

.bg-color1{background:#186CB2;}
.bg-color2{background:#247ad3;}

.site-color1{color:#186CB2;}
.site-color2{color:#035497;}
.site-color3{color:#d10d12;}

.bg-sub{background:#fff url(../images/bg-sub.jpg) repeat-y top right; }

.button{color:#fff;font:bold 12px verdana,"trebuchet MS";cursor:pointer; padding:3px 5px;}

/****************************** Grid Very Very Imporatnt *********************************/
.grid2,.grid3,.grid4,.grid5,.grid6,.grid7,.grid8,.grid9,.grid10,.grid11,.grid12,.grid13,.grid14,.grid15{position:relative;float:left;}
.grid1{width:990px;background:#FEFEFE;height:auto;margin:0px auto;padding:0px 10px;} /* Wrap */
.grid2{width:100%;background:#FEFEFE url(./images/top-bg.jpg) repeat-x;margin:0px auto;height:120px;border-bottom:1px solid #fff;} /* head */
.grid3{width:100%;background:#fff;margin:0px auto;height:260px;padding:3px 0px 1px 0px;} /* banner */
.grid4{width:100%;margin:0px auto;height:38px;background:url(../images/menubg.jpg);background-repeat: repeat-x;} /* Menu */
.grid5{width:100%;margin:0px auto;height:auto;border:0px solid #cc0000 } /* Main Div */
.grid6{width:220px;background:#fff;padding:0px 5px 5px 5px; float:right; } /* left & right Div */
.grid7{width:750px;background:#fff ;height:auto;border:0px solid #000;} /* mid Div */
.grid8{width:100%;height:36px; background-image:url(../images/menubg.jpg); margin-top:5px; moz-border-radius:3px;border-radius:3px;} /* footer Div */
.grid9{width:100%;background:none;height:76px;} /* footer Div */

/* Header */
.header-left{float:left;width:auto;padding:20px 0px 0px 10px; text-align:center;}
.header-right{float:right;width:400px;text-align:right;padding:10px 0px 0px 0px;}
.phone-no{width:100%;margin:0px auto;background:background:none;height:63px;}
.phone-no h1{font:normal 14px "trebuchet MS";color:#000;margin:0px auto; line-height:25px}
.phone-no h1 a{color: #175EA0; text-decoration:none}
.phone-no h1 a:hover{ color:#175EA0; text-decoration:underline}

.h-s-c{height:50px;width:194px;text-align:right;position:relative;left:49px;* left:0px;padding:0px 11px 0px 0px; font: bold 16px "trebuchet MS"; color:#CF393B;}



/***** Product List ****/
.product-list{width:97%;border:1px solid #d3ced3;background:#fff;padding:2px;margin:0px auto; margin-top:4px;}
.product-list h1{text-align:center;height:35px;line-height:35px; color:#fff; font-size:13px; font-weight:bold; background:#186CB2 url("./images/product-list-heading.gif") repeat-x scroll 0 0 }
.product-list p {padding:5px  5px 10px;color:#333;margin:0px; text-align:justify;}
.product-list ul{margin:0px;padding:0px;margin-left:10px;}
.product-list ul li{list-style:none;line-height:30px;height:30px;background:url(../images/product-list-bg.gif) repeat-x bottom;}
.product-list ul li a{font:bold 12px "trebuchet MS";background:url(../images/2.png) left center no-repeat;padding:0px 0px 0px 20px;text-decoration:none; color:#72C406;}
.product-list ul li a:hover{color:#272C21;text-decoration:underline;}



.product-list1{width:97%;border:1px solid #d3ced3;background:#fff;padding:2px;margin:0px auto; margin-top:10px;}
.product-list1 h1{text-align:center;height:35px;line-height:35px; color:#fff; font-size:13px; font-weight:bold; background:#72C406 url("./images/product-list-heading.gif") repeat-x scroll 0 0 }
.product-list1 p {padding:5px  5px 10px;color:#333;margin:0px; text-align:justify;}
.product-list1 ul{margin:0px;padding:0px;margin-left:10px;}
.product-list1 ul li{list-style:none;line-height:30px;height:30px;background:url(../images/product-list-bg.gif) repeat-x bottom;}
.product-list1 ul li a{font:bold 12px "trebuchet MS";background:url(../images/2.png) left center no-repeat;padding:0px 0px 0px 20px;text-decoration:none; color:#72C406;}
.product-list1 ul li a:hover{color:#272C21;text-decoration:underline;}


/******************* Welcome Box ***********/
.welcome-box{width:100%;margin:0 auto;}
.welcome-box h1 {font:normal 20px "trebuchet MS"; color:#1673B9; border-bottom:1px solid #f6f6f6; line-height:25px;height:25px; margin:6px 0px}
.welcome-box h2 {padding-left:10px; font:bold 14px "trebuchet MS"; border-bottom:0px solid #f6f6f6; line-height:21px;height:25px; padding-top:5px;}
.welcome-box p { width:70%;color:#333;margin:0px; line-height:20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; text-align:justify; padding:5px 0px; float:left;}
.welcome-box h5{ font:bold 6pt "trebuchet MS"; padding-left:10px; padding-bottom:0px; padding-top:0px; margin-bottom:5px; margin-top:0px; }

.more{font: 12px "trebuchet MS";text-decoration:none;background: #175EA0; color:#fff; -moz-border-radius:3px;
  border-radius:3px;border: 1px solid #BFDDF4;   padding:3px 8px; margin-right:8px;}
.more:hover{color:#fff;text-decoration:none;background: #175ED0;}

.link  {
  text-decoration: none; 
  display: inline-block; float:right;
  padding:0px 8px; color: #fff;background: #175EA0;
  -moz-border-radius: 3px;
  border-radius: 3px;border: 1px solid #BFDDF4;
  font-weight: bold; line-height:20px;
  font-size: 11px;
  text-transform: uppercase; margin:6px 20px 10px 0px
}
.link:hover {
  text-decoration:underline;color: #fff; 
}
/******************* text Box ***********/
.text-box{width:100%;padding:0px 0px 0px 0px;margin:0px auto; }
.text-box-inner{float:right;padding:7px; border:1px solid #C7CCCC; background-color:#DFE2E6; moz-border-radius:3px;border-radius:3px;}

.text-box-inner h1{text-decoration:none; text-align:center; padding:5px 0px; color:#025396}
.text-box-inner h2{text-decoration:none; padding-left:10px; text-align:left; }

/******************* Footer Links ***********/
.footerlinks{margin:0px auto;padding:0px;text-align:center;}
.footerlinks li{list-style:none;display:inline;color:#fff;}
.footerlinks li a{font:bold 13px "trebuchet MS";color:#fff;padding:0px 5px;line-height:35px;text-decoration:none;}
.footerlinks li a:hover{color:#fff;text-decoration:underline;}
p.address{font:normal 13px "trebuchet MS";color:#000;text-align:center;line-height:25px;}
p.address a{text-decoration:none;}
a.powered{font:normal 12px "trebuchet MS";color:#2857B5;text-align:center;line-height:25px;}
a.powered:hover{text-decoration:underline;color:#036737;}
h3.powered:hover{text-decoration:underline;color:#036737}
/**** gallery*****/
.portfolio-categ{margin-bottom:30px;}
.portfolio-categ li{display:inline;margin-right:10px;}
.image-block{ display:block;position: relative;}
.image-block img{border: 1px solid #d5d5d5; border-radius: 4px 4px 4px 4px;background:#E8EBF2;padding:10px;}
.image-block img:hover{border: 1px solid #184580;box-shadow:0 0 5px #184580;}
.caption {background:#E8EBF2;}
.caption .sub-cap{ text-align:center; padding:5px; font-weight:bold;}
.caption img{padding:4px;}
.caption img:hover{box-shadow:0 0 5px #184580;}
.portfolio-area li{float: left;margin: 0 5px 5px 0;overflow: hidden; padding:5px; text-align:center}
.home-portfolio-text{margin-top:10px;}
li.active a{ text-decoration:underline;}
/**** END PORTFOLIO STYLES*****/


/*********index middle content*******/
.overall{width:100%;}
.left-content{float:left; width:308px;}
ul.left-cont{ list-style:none;}
.left-cont img{border-radius:6px;}
.center-content{ float:left; height:290px; width:445px; border-radius:6px; background-color:#E5E8EB;}
.center-content img{float:left;padding:13px 0px 0px 15px; }
.center-content h3{ font-size:16px; border-top-right-radius:6px; border-top-left-radius:6px; background-color:#d3d3d3; padding:12px 10px 10px 13px; font-family:Arial, Helvetica, sans-serif; font-weight:bold;}
.center-content p{text-align:justify; padding-right:7px; margin-left:30px; }
.right-content{ float:left; width:235px;}

.photogallery{float:left; margin:13px; box-shadow: 3px 3px 20px #7B8B9E; background-color:#DAE2EA; padding:6px;}

.photoset{ margin-left:10px;}

.quality img{display: block;
    margin-left: auto;
    margin-right: auto;}
	
	
	.gallery-over{width:100%;background:#fff ;height:auto;border:0px solid #000;}
	.gallery h1{border-bottom:1px solid #f6f6f6; padding:6px 0px;}