


/*============================*/
/*=== Custom Slider Styles ===*/
/*============================*/
#slider-wrapper {
    background:url(images/slider.png) no-repeat;
    width:990px;
    height:260px;
    margin:0 auto;
    padding-top:3px;
    margin-top:0px;
}

#slider {
	position:relative;
    width:990px;
    height:260px;
    margin-left:0px;
	background:url(images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:3px;
	bottom:12px;
	padding: 3px;
    border: 0px solid #CCC;
    opacity: 0.7;
    z-index: 99;
	}
	
	.nivo-controlNav:hover{opacity: 1;}
	
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:0px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:35px;
	height:65px;
	background:url(images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-35px 0;
	right: -0px;
}

a.nivo-nextNav:hover{right: -0px;}

a.nivo-prevNav {
	left:-0px;
}
a.nivo-prevNav:hover{left: -0px;}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

.nivo-directionNav a{top: 40%;}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}